/* Shop CSS */

/* ==================== ##Content Styles ==================== */
.woocommerce ul#shipping_method li label,
ul.wgl-products .price,
div.wgl-products .price,
.woocommerce div.product p.price,
.woocommerce table.shop_table td.product-name .product-quantity,
.woocommerce .products ul.wgl-products .price,
.woocommerce .products div.wgl-products .price,
.woocommerce .summary .product_meta > span span,
.woocommerce .widget_price_filter .price_slider_amount .price_label span{
	font-family: $content_font_family;
}

.woocommerce ul#shipping_method li label,
.woocommerce .summary .product_meta > span span,
.woocommerce .summary .product_meta > span a,
.woocommerce-error, .woocommerce-info, .woocommerce-message{
	color: $content_color;
}
/* ==================== ##End Content Styles ==================== */

/* ==================== ##Header Styles ==================== */
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total strong,
.woocommerce div.product form.cart .group_table tr td label,
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce #respond input#submit,
.woocommerce span.onsale,
.woocommerce .product_meta > span, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce-message a.button,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce ul.cart_list li a, 
.woocommerce a.button,
.woocommerce ul.product_list_widget li a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,
.woocommerce .widget_price_filter .price_slider_amount .price_label{
	font-family: $header_font_family;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover,
.woocommerce #order_review.woocommerce-checkout-review-order table.shop_table thead th,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce table.shop_table thead th{
	background: $header_font_color;
}

.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout,
.woocommerce div.product form.cart .group_table tr td label a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:not(.active) a:hover,
#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination, 
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination, 
.woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce .widget_shopping_cart .buttons a.checkout, 
.woocommerce.widget_shopping_cart .buttons a.checkout,
.woocommerce label,
.woocommerce strong,
.woocommerce .widget_price_filter .price_slider_amount .price_label,
.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong,
.woocommerce div.product .woocommerce-tabs .panel #respond #commentform label,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th, 
.woocommerce .cart-collaterals .cart_totals table th, 
.woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty::placeholder,
.woocommerce .summary .product_meta > span,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce ul.cart_list li a, 
.woocommerce table.shop_table td.product-name,
.woocommerce ul.product_list_widget li a,
.woocommerce-tabs .comment-reply-title,
.woocommerce form .form-row label,
.woocommerce table.shop_table tfoot tr th,
.woocommerce ul#shipping_method li label,
#add_payment_method .wc-proceed-to-checkout .button__wrapper .checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout .button__wrapper .checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout .button__wrapper .checkout-button,
.group_table .woocommerce-grouped-product-list-item__price{
	color: $header_font_color;
}

.woocommerce table.shop_table div.quantity .qty,
.woocommerce table.shop_table div.quantity .qty::placeholder,
.woocommerce div.product form.cart div.quantity .qty,
.woocommerce div.product form.cart div.quantity .qty::placeholder{
	color: $header_font_color;
}

.wgl-theme-header .woo_mini-count span,
ul.wgl-products li a.add_to_cart_button, 
ul.wgl-products li a.button,
ul.wgl-products li .added_to_cart.wc-forward,
div.wgl-products div.product a.add_to_cart_button, 
div.wgl-products div.product a.button,
div.wgl-products div.product .added_to_cart.wc-forward{
	color: $header_font_color;
}

.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a:hover,
.woocommerce .widget_shopping_cart .buttons a:not(.checkout):hover, 
.woocommerce.widget_shopping_cart .buttons a:not(.checkout):hover,
.woocommerce table.shop_table .woocommerce-Price-amount.amount,
.woocommerce .foodmood_module_message_box .message_text,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce form .form-row .required,
.woocommerce table.shop_table td.product-name a:hover,
.woocommerce-review-link:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.product_meta > span a:hover,
.woocommerce .quantity-wrapper span:hover,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce form .form-row .required,
.woocommerce table.shop_table td.product-name a:hover,
.woocommerce table.shop_table.cart input.button:hover,
.woocommerce p.stars a,
.woocommerce .summary .product_meta > span a:hover,
.woocommerce .widget_shopping_cart .buttons a:hover, 
.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .buttons a:hover,
.woocommerce.widget_shopping_cart .total,
.woocommerce .woocommerce-checkout .type_error .message_icon_wrap .message_icon,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-review-link:hover,
.woocommerce div.product form.cart div.quantity .quantity-wrapper span:hover:before, 
.woocommerce div.product form.cart div.quantity .quantity-wrapper span:hover:after{
	color: $header_font_color;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled]{
	color: $header_font_color !important;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before,
.woocommerce div.product form.cart .button{
	border-color: $header_font_color;	
}

/* ==================== ##End Header Styles ==================== */

/* ==================== ##Additional Styles ==================== */

ul.wgl-products li .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button), 
ul.wgl-products li .products-post_wrapper a.button:not(.yith-wcqv-button), 
ul.wgl-products li .products-post_wrapper .added_to_cart.wc-forward, 
.woocommerce .products ul.wgl-products li .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button), 
.woocommerce .products ul.wgl-products li .products-post_wrapper a.button:not(.yith-wcqv-button), 
.woocommerce .products ul.wgl-products li .products-post_wrapper .added_to_cart.wc-forward,
div.wgl-products div.product .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button), 
div.wgl-products div.product .products-post_wrapper a.button:not(.yith-wcqv-button), 
div.wgl-products div.product .products-post_wrapper .added_to_cart.wc-forward, 
.woocommerce .products div.wgl-products div.product .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button), 
.woocommerce .products div.wgl-products div.product .products-post_wrapper a.button:not(.yith-wcqv-button), 
.woocommerce .products div.wgl-products div.product .products-post_wrapper .added_to_cart.wc-forward{
	font-family: $additional_font_family;
}

.wgl-theme-header .woo_mini-count span,
.woocommerce div.product form.cart .group_table tr .woocommerce-grouped-product-list-item__price,
.woocommerce div.product .summary p.price, 
div.product .summary span.price, 
.woocommerce div.product .summary .woocommerce-variation-price .price,
ul.wgl-products .price, 
div.wgl-products .price, 
.woocommerce div.product form.cart div.quantity label.label-qty,
.product_list_widget .woocommerce-Price-amount,
.woocommerce ul.cart_list li .quantity,
.woocommerce .products ul.wgl-products .price,
.woocommerce .products div.wgl-products .price,
.woocommerce table.shop_table .woocommerce-Price-amount.amount,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount, 
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce table.shop_table td.product-name .product-quantity,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .cart-collaterals .cart_totals table tbody tr td, 
.woocommerce-page .cart-collaterals .cart_totals table tbody tr td,
.woocommerce div.product span.price,
.checkout.woocommerce-checkout #ship-to-different-address, 
.checkout.woocommerce-checkout #ship-to-different-address span{
	font-family: $additional_font_family;
}
/* ==================== ##End Additional Styles ==================== */

/* ==================== ##Theme Color Styles ==================== */

.woocommerce div.product span.price,
.woocommerce .star-rating span:before,
.woocommerce #review_form #respond p.stars a,
.woocommerce table.shop_table.cart input.button:hover,
ul.wgl-products .woocommerce-loop-product__title a:hover,
div.wgl-products .woocommerce-loop-product__title a:hover,
.woocommerce ul.cart_list li a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce p.stars a,
.woocommerce ul.product_list_widget li a:hover .product-title,
.woocommerce .summary .product_meta > span a:hover{
	color: $theme_color;
}

.woocommerce nav.woocommerce-pagination ul li span:after, 
.woocommerce nav.woocommerce-pagination ul li a:after,
.woocommerce nav.woocommerce-pagination ul li:hover a:after,
.woocommerce nav.woocommerce-pagination ul li:hover span:after,
.woocommerce nav.woocommerce-pagination ul li a:focus:after,
.woocommerce nav.woocommerce-pagination ul li a:active:after,
.woocommerce nav.woocommerce-pagination ul li a:hover:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:after,
ul.wgl-products li button.button.loading:before, 
ul.wgl-products li input.button.loading,
div.wgl-products div.product button.button.loading:before, 
div.wgl-products div.product input.button.loading{
	background-color: $theme_color;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a,
.woocommerce table.shop_table.cart input.button,
.woocommerce div.product form.cart .button,
.woocommerce .widget_shopping_cart .buttons a{
	background-color: $theme_color;	
	border-color: $theme_color;
}

ul.wgl-products .products-post_wrapper a.button.loading:before, 
ul.wgl-products .products-post_wrapper button.button.loading:before, 
ul.wgl-products .products-post_wrapper input.button.loading:before, 
.woocommerce .products ul.wgl-products .products-post_wrapper a.button.loading:before, 
.woocommerce .products ul.wgl-products .products-post_wrapper button.button.loading:before, 
.woocommerce .products ul.wgl-products .products-post_wrapper input.button.loading:before,
div.wgl-products .products-post_wrapper a.button.loading:before, 
div.wgl-products .products-post_wrapper button.button.loading:before, 
div.wgl-products .products-post_wrapper input.button.loading:before, 
.woocommerce .products div.wgl-products .products-post_wrapper a.button.loading:before, 
.woocommerce .products div.wgl-products .products-post_wrapper button.button.loading:before, 
.woocommerce .products div.wgl-products .products-post_wrapper input.button.loading:before{
    border-top-color: $theme_color !important;
}
/* ==================== ##End Theme Color Styles ==================== */


.woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: $header_font_color transparent transparent transparent;
}

.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li span.quantity .woocommerce-Price-amount.amount,
.woocommerce .quantity-wrapper span,
.woocommerce ul.product_list_widget li ins,
.woocommerce button.button:hover,
.woocommerce-message a.button:hover,
.woocommerce button.button[name="update_cart"]:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce .cart .button:hover, 
.woocommerce .cart button.button:hover, 
.woocommerce .cart input.button:hover,
.woocommerce #payment #place_order:hover, 
.woocommerce-page #payment #place_order:hover,
.woocommerce a.button:hover,
.woocommerce div.product p.price,
.woocommerce div.product form.cart div.quantity .quantity-wrapper span,
.woocommerce table.shop_table tfoot tr.order-total td .woocommerce-Price-amount.amount,
.woocommerce table.shop_table tfoot tr.cart-subtotal td .woocommerce-Price-amount.amount,
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount, 
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount,
ul.wgl-products .price,
div.wgl-products .price,
.product_list_widget .woocommerce-Price-amount,
.woocommerce .woocommerce-cart-form table.shop_table td.product-name a:hover,
.woocommerce #review_form #respond p a{
	color: $theme_color;
} 

.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout:hover,
.woocommerce .widget_shopping_cart .buttons a.checkout:hover, 
.woocommerce.widget_shopping_cart .buttons a.checkout:hover,
.woocommerce span.onsale{
	background-color: $theme_color;	
}

.woocommerce #respond input#submit.disabled:hover, 
.woocommerce #respond input#submit:disabled:hover, 
.woocommerce #respond input#submit:disabled[disabled]:hover,  
.woocommerce a.button.disabled:hover, 
.woocommerce a.button:disabled:hover, 
.woocommerce a.button:disabled[disabled]:hover, 
.woocommerce button.button:disabled:hover, 
.woocommerce button.button:disabled[disabled]:hover, 
.woocommerce button.button.disabled:hover, 
.woocommerce input.button:hover,
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover, 
.woocommerce button.button[name="update_cart"],
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce #respond input#submit{
	background: $theme_color;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt, 
.woocommerce #payment #place_order, 
.woocommerce a.button.alt, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce button.button.alt:hover,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce .cart input.button,
.woocommerce .cart .button, 
.woocommerce-page #payment #place_order{
	border-color: $theme_color;
	background: $theme_color;
}

ul.wgl-products li:hover .products-post:after, 
div.wgl-products div.product:hover .products-post:after, 
.woocommerce .products ul.wgl-products li:hover .products-post:after,
.woocommerce .products div.wgl-products div.product:hover .products-post:after,
.woocommerce .quantity.number-input .quantity-wrapper span:after,
.woocommerce .quantity.number-input .quantity-wrapper span:before,
.woocommerce-product-gallery .flex-control-thumbs img.flex-active,
.woocommerce-product-gallery .flex-control-thumbs img:hover,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce button.button.alt,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce table.shop_table thead{
	border-color: $theme_color;
}

ul.wgl-products .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button):before, 
ul.wgl-products .products-post_wrapper a.button:not(.yith-wcqv-button):before, 
ul.wgl-products .products-post_wrapper .added_to_cart.wc-forward:before, 
.woocommerce .products ul.wgl-products .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button):before, 
.woocommerce .products ul.wgl-products .products-post_wrapper a.button:not(.yith-wcqv-button):before, 
.woocommerce .products ul.wgl-products .products-post_wrapper .added_to_cart.wc-forward:before,
div.wgl-products .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button):before, 
div.wgl-products .products-post_wrapper a.button:not(.yith-wcqv-button):before, 
div.wgl-products .products-post_wrapper .added_to_cart.wc-forward:before, 
.woocommerce .products div.wgl-products .products-post_wrapper a.add_to_cart_button:not(.yith-wcqv-button):before, 
.woocommerce .products div.wgl-products .products-post_wrapper a.button:not(.yith-wcqv-button):before, 
.woocommerce .products div.wgl-products .products-post_wrapper .added_to_cart.wc-forward:before{
    border-color: $theme_color transparent transparent transparent;
}

ul.wgl-products .products-post_wrapper .group_button-woo svg, 
.woocommerce .products ul.wgl-products .products-post_wrapper .group_button-woo svg,
div.wgl-products .products-post_wrapper .group_button-woo svg, 
.woocommerce .products div.wgl-products .products-post_wrapper .group_button-woo svg{
	fill: $theme_color;
}

.woocommerce .woo_banner_text svg{
	fill: $header_font_color;
}