/* ==================== ##General Styles ==================== */

body {
	font-family: $content_font_family;
	font-size: $content_font_size;
	line-height: $content_line_height;
	font-weight: $content_font_weight;
	color: $content_color;
}

/* ==================== ##End General Styles ==================== */

/* ==================== ##Content Features ==================== */

body input:not([type='checkbox']):not([type='submit']),
select, textarea,
#comments .commentlist .comment_info .meta-wrapper *,
.author-info_name,
.foodmood_module_time_line_vertical .time_line-title,
.isotope-filter a .number_filter,
.author-widget_text,
.wgl-portfolio-item-info_desc span,
.blog-post.format-quote .blog-post_quote-author,
.wgl_module_team .team-department,
body .comment-form-cookies-consent > label,
.wgl-accordion .wgl-accordion_panel .wgl-accordion_content,
.single_team_page .team-info_wrapper .team-info_item,
.elementor-widget-wgl-pricing-table .pricing_header .pricing_desc,
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text,
.wgl-portfolio-single_wrapper .wgl-portfolio-item_cats,
.wgl-combo-menu .menu-item .menu-item_desc,
.wgl-working-hours .working-item .working-item_day {
	font-family: $content_font_family;
}
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text{
	font-weight: $content_font_weight;
}

.wgl-tabs .wgl-tabs_content-wrap .wgl-tabs_content{
	font-family: $content_font_family;
	font-weight: $content_font_weight;
}

select,
body .footer .select__field:before,
body input:not([type='checkbox']):not([type='submit'])::placeholder,
select::placeholder,
textarea::placeholder,
body .widget_rss ul li .rssSummary,
.search-no-results .page_404_wrapper .search-form .search-field::placeholder,
.search-no-results .page_404_wrapper .search-form .search-field,
.blog-post_meta-categories span,
.blog-post_meta-categories span:after,
.foodmood_module_message_box .message_content .message_text,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.blog-post.format-quote .blog-post_quote-author-pos,
.foodmood_module_testimonials .testimonials_quote,
.recent-posts-widget .meta-wrapper a:hover,
.vc_row .vc_toggle .vc_toggle_icon,
.isotope-filter a,
.wgl_module_team .team-department,
.blog-style-hero .blog-post.format-standard .meta-wrapper, 
.blog-style-hero .blog-post.format-link .meta-wrapper, 
.blog-style-hero .blog-post.format-audio .meta-wrapper, 
.blog-style-hero .blog-post.format-quote .meta-wrapper,
.blog-style-hero .blog-post.format-standard .meta-wrapper a, 
.blog-style-hero .blog-post.format-link .meta-wrapper a, 
.blog-style-hero .blog-post.format-audio .meta-wrapper a, 
.blog-style-hero .blog-post.format-quote .meta-wrapper a,
.blog-style-hero .blog-post.format-standard .blog-post_text, 
.blog-style-hero .blog-post.format-link .blog-post_text, 
.blog-style-hero .blog-post.format-audio .blog-post_text, 
.blog-style-hero .blog-post.format-quote .blog-post_text,
.wgl-pricing_plan .pricing_price_wrap .pricing_desc {
	color: $content_color;
}

.foodmood_module_title .external_link .button-read-more {
	line-height: $content_line_height;
}

/* ==================== ##End Content Features ==================== */

/* ==================== ##Heading Features ==================== */

h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.dropcap,
.elementor-drop-cap,
.blog-post_cats,
.blog-posts .blog-post_title,
.column1 .item_title a,
.foodmood_twitter .twitt_title,
.tagcloud-wrapper .title_tags,
.strip_template .strip-item a span,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.shortcode_tab_item_title,
.index_number,
.primary-nav.footer-menu .menu-item a {
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

.banner_404,
input[type="submit"], button,
body .widget,
body .widget .widget-title,
body .widget_rss ul li .rss-date,
body .widget_categories a, 
body .widget_product_categories a, 
body .widget_meta a, 
body .widget_archive a,
label,
legend,
.page_404_wrapper .foodmood_404_button.wgl_button .wgl_button_link,
.wgl-social-share_pages.hovered_style .share_social-title,
.blog-post_text-bg,
.author-info_content .author-info_name,
.button-read-more,
.blog-post_meta-date .date_post span,
.blog-post_meta-date .date_post,
.theme-header-font,
.countdown-section .countdown-amount,
.comments-title .number-comments,
.foodmood_module_progress_bar .progress_label,
.foodmood_module_double_headings,
.foodmood_module_infobox .infobox_icon_container .infobox_icon_number,
.wgl-button, .elementor-button,
.wgl-pricing_plan .pricing_cur,
.wgl-pricing_plan .pricing_price .price_decimal,
.foodmood_module_testimonials .testimonials_item:before,
.foodmood_module_testimonials .testimonials_status,
.foodmood_module_counter .counter_title,
.foodmood_module_videobox .title,
.foodmood_module_progress_bar .progress_value, 
.foodmood_module_progress_bar .progress_units,
.foodmood_module_counter .counter_value_wrapper, 
.foodmood_module_counter .counter_value_placeholder,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.foodmood_module_ico_progress .progress_value_completed,
.foodmood_module_ico_progress .progress_value_min,
.foodmood_module_ico_progress .progress_value_max,
.foodmood_module_ico_progress .progress_point,
.mashsb-count .counts,
.mashsb-box .mashsb-buttons a .text,
.prev-link,
.next-link,
.vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title>a span,
.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title,
.heading_subtitle,
.info_prev-link_wrapper a,
.info_next-link_wrapper a,
.single_team_page .team-single_speaches-info .speech-info_day,
.single_team_page .team-info_wrapper .team-info_item h5,
.wgl-portfolio-item-info_desc h5,
.wgl-portfolio-item_meta .post_cats,
.wgl-portfolio-item_meta .post_cats,
.wgl-portfolio-item_cats,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab > a,
.wpb-js-composer .wgl-container .vc_chart.vc_round-chart[data-vc-legend="1"] .vc_chart-legend li,
.isotope-filter a,
body .comment-respond .comment-reply-title,
.page-header_title,
.foodmood_module_services_2 .services_link,
.foodmood_module_testimonials.type_inline_top .testimonials_meta_wrap:after,
.foodmood_module_testimonials .testimonials_position,
.foodmood_module_services_4 .services_subtitle,
.dropcap,
.dropcap-bg,
.wgl-countdown .countdown-section .countdown-period,
.wgl-pagination .page,
.page-link,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-categories.wp-block-categories-list li .post_count,
ul.wp-block-latest-posts li a,
.elementor-counter,
.load_more_item,
.load_more_wrapper .load_more_item,
.wgl-portfolio-single_item .wgl-portfolio-item_annotation .single_info-share_social-wpapper .share_title,
.page-header_breadcrumbs .breadcrumbs{
	font-family: $header_font_family;
}

.wgl-infobox_bg_title,
.wgl-background-text,
.elementor-section.wgl-add-background-text:before{
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}
#comments .commentlist .comment_author_says{
	font-family: $header_font_family;
}

.banner_404,
input[type="submit"],
.author-info_public,
.wgl-portfolio-item_annotation_social .single_info-share_social-wpapper > span,
.foodmood_module_time_line_horizontal .tlh_date,
.tagcloud a,
.wgl-portfolio-single_item .tagcloud .tagcloud_desc,
.wgl_timetabs .timetabs_data .timetabs_item .item_time,
.wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,
.wpb-js-composer .wgl-container .vc_row .vc_pie_chart .vc_pie_chart_value,
.wgl_timetabs .timetabs_headings .wgl_tab,
.wgl-pricing_plan .pricing_content,
blockquote{
	font-family: $header_font_family;
	color: $header_font_color;
}

body .footer select option,
body .widget_wgl_posts .recent-posts-widget .post_title a,
button,
h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h3#reply-title a,
.slick-dots li button,
.calendar_wrap tbody,
.comment_author_says,
.comment_author_says a,
.share_post-container .share_post,
.tagcloud-wrapper .title_tags,
.theme-header-color,
.foodmood_module_double_headings .heading_title,
.foodmood_module_testimonials .testimonials_item .testimonials_content_wrap .testimonials_name,
.wgl-pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b,
.foodmood_module_social .soc_icon,
.foodmood_module_counter .counter_value_wrapper,
.foodmood_module_message_box .message_close_button:hover,
.prev-link-info_wrapper,
.next-link-info_wrapper,
.item_title a,
.foodmood_module_counter .counter_value_wrapper,
.wgl_module_title.item_title .carousel_arrows a span:after,
.wgl_module_team.info_under_image .team-department,
.wgl-portfolio-item_wrapper .portfolio_link,
.widget_product_search .woocommerce-product-search:after,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab:not(.vc_active) > a,
.wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_color_check.vc_toggle_active .vc_toggle_title .vc_toggle_icon,
.under_image .wgl-portfolio-item_title .title a,
.wpb-js-composer .wgl-container .vc_row .vc_toggle .vc_toggle_title,
.button-read-more:hover,
.blog-post_views-wrap .wgl-views:before,
.wgl-container ul.wp-block-latest-posts li:before,
body .widget_categories ul li a,
body .widget_product_categories ul li a, 
body .widget_meta ul li a, 
body .widget_archive ul li a,
body .widget_comments > ul > li:before, 
body .widget_meta > ul > li:before, 
body .widget_archive > ul > li:before, 
body .widget_recent_comments > ul > li:before, 
body .widget_recent_entries > ul > li:before,
body .widget .widget-title .widget-title_wrapper,
body .widget ul li,
body .widget_product_categories ul li a:hover + .post_count, 
body .widget_archive ul li a:hover + .post_count,
.widget.widget_recent_comments ul li a,
.foodmood_module_services_2 .services_link,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-archives.wp-block-archives-list li:before,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-latest-posts li a,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.blog-style-hero .blog-post.format-standard .blog-post_title a, 
.blog-style-hero .blog-post.format-link .blog-post_title a, 
.blog-style-hero .blog-post.format-audio .blog-post_title a, 
.blog-style-hero .blog-post.format-quote .blog-post_title a,
.wgl-pagination .page .current,
.wgl-pagination .page-numbers:hover,
.page-link .post-page-numbers:hover,
.page-link .post-page-numbers.current,
.tagcloud a,
#comments .comment-reply-link:hover, 
#comments .comment-reply-link:focus, 
#comments .comment-reply-link:active,
.blog_carousel .wgl-carousel .slick-arrow:hover,
.products_carousel .wgl-carousel .slick-arrow:hover,
.load_more_item,
.load_more_wrapper .load_more_item,
.slick-dots li button,
.wgl-portfolio-item_meta .post_cats a:hover{
	color: $header_font_color;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus, 
button:hover,
.post_featured_bg,
.foodmood_module_title .carousel_arrows a span {
	background: $header_font_color;
}

.blog-style-hero .blog-post_bg_media:after,
.slick-dots li button,
.wgl-carousel.pagination_line .slick-dots li button:before,
.wgl-carousel.pagination_square .slick-dots li,
.wgl-carousel.pagination_circle_border .slick-dots li button:before,
.foodmood_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,
.foodmood_module_infobox.infobox_alignment_right.title_divider .infobox_title:before,
.page_404_wrapper .foodmood_404_button.wgl_button .wgl_button_link:hover,
.load_more_item:hover, .load_more_wrapper .load_more_item:hover {
	background-color: $header_font_color;
}

.foodmood_module_title .carousel_arrows a span:before,
.wgl-pricing_plan .pricing_highlighter,
.wgl-carousel.pagination_circle_border .slick-dots li.slick-active button,
.load_more_item, .load_more_wrapper .load_more_item:hover,
.page_404_wrapper .foodmood_404_button.wgl_button .wgl_button_link:hover{
	border-color: $header_font_color;
}

.blog-post_wrapper .blog-post_media .wgl-video_popup .videobox_link .videobox_icon,
.blog-post-hero_wrapper .wgl-video_popup .videobox_link .videobox_icon,
.wgl_module_team .team-item_wrap:hover .team-info_icons-flag svg,
.single-team .single_team_page .team-image:hover .team-info_icons-flag svg{
	fill:  $header_font_color;
}

/* ==================== ##End Heading Features ==================== */

/* ==================== ##Additional Styles ==================== */

.wgl-theme-header .wgl-sticky-header .header_search{
	height: $header_sticky_height !important;
}    

#scroll_up {
	background-color: $scroll_up_bg_color;
	color: $scroll_up_arrow_color;
}

/* menu fonts */
.primary-nav>div>ul,
.primary-nav>ul,
.sitepress_container > .wpml-ls li,
.primary-nav ul li.mega-menu-links > ul > li{
	font-family: $menu_font_family;
	font-weight: $menu_font_weight;
	line-height: $menu_font_line_height;
	font-size: $menu_font_size;
}
/* sub menu fonts */
.primary-nav ul li ul,
.wpml-ls,
.sitepress_container > .wpml-ls ul ul li,
.primary-nav ul li div.mega-menu-container{
	font-family: $sub_menu_font_family;
	font-weight: $sub_menu_font_weight;
	line-height: $sub_menu_font_line_height;
	font-size: $sub_menu_font_size;	
}

/* sub menu styles */
.wgl-theme-header .header_search-field,
.primary-nav ul li ul,
.primary-nav ul li div.mega-menu-container,
.wgl-theme-header .woo_mini_cart,
.wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu{
	background-color: $sub_menu_bg;
	color: $sub_menu_color;
}

.primary-nav ul li ul:not(.mega-menu) li.menu-item-has-children > a > span > .menu-item_plus:before{
	color: $sub_menu_color;
}

.mobile_nav_wrapper,
.wgl-menu_outer,
.wgl-menu_outer .mobile-hamburger-close,
.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul{
	background-color: $mobile_sub_menu_bg;
	color: $mobile_sub_menu_color;		
}

.mobile_nav_wrapper .wgl-menu_overlay{
	background-color: $mobile_sub_menu_overlay;
}

/* ==================== ##End Additional Styles ==================== */

#side-panel .side-panel_sidebar .widget .widget-title .widget-title_wrapper{
	color: $side_panel_title;
}
/* ==================== ##Additional Fonts ==================== */

.additional_font,
.wgl-progress_bar .progress_label_wrap .progress_label, 
.wgl-progress_bar .progress_label_wrap .progress_value_wrap,
.wgl-pricing_plan .pricing_header .pricing_title,
.wgl-pricing_plan .pricing_price,
.wgl-pricing_plan .pricing_cur,
.wgl-testimonials .wgl-testimonials_name,
.wgl-double_heading .dbl-subtitle,
.wgl-combo-menu .menu-item .menu-item_price,
.wgl_module_team .team-department,
.meta-wrapper,
.blog-post_info-wrap > .meta-wrapper *,
.single_info-share_social-wpapper .share_title,
#comments .comment-reply-link,
#comments .commentlist .comment_info .meta-wrapper .comment-edit-link span,
#comments > h3 span,
body .widget .widget-title .widget-title_wrapper,
body .widget_categories .post_count, 
body .widget_product_categories .post_count, 
body .widget_meta .post_count, 
body .widget_archive .post_count,
body .widget_wgl_posts .recent-posts-widget .meta-wrapper span,
.widget.foodmood_widget.foodmood_banner-widget .banner-widget_text,
.widget.foodmood_widget.foodmood_banner-widget .banner-widget_text_sub,
.wgl-counter .wgl-counter_value-wrap,
.wgl-working-hours .working-item .working-item_hours,
blockquote cite,
.wgl-timeline-vertical .time_line-item .time_line-date,
.wgl-timeline-vertical .time_line-item .time_line-subtitle,
.wgl-infobox_title{
	font-family: $additional_font_family;
}

/* ==================== ##End Additional Fonts ==================== */