
@import 'variable';
@import 'mixin';


// /* Blog
// ================================================== */

/* Global */
.admin-bar {

    .navbar-sticky.sticky {
       margin-top: 30px;
    }
 }

/* Image */

.alignright.size-thumbnail.wp-image-827{
    margin-bottom: 40px;
    display: inline-block;
}

img, figure {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

img[class*="wp-image-"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
}

.wp-caption {
    margin-bottom: 8px;
    max-width: 100%;
    border-radius: 0;
    padding: 0;
    clear: both;
    &.aligncenter {
        margin-bottom: 10px;
    }
    .wp-caption-text {
        text-align: center;
        margin-top: 4px;
        font-style: italic;
        margin-bottom: 30px;
    }
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}



/*-- HTML Formate --*/


/* table */
table,iframe {
    border: 1px solid #fbfbfb;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td,
table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    border-top: 1px solid #e7e7e7;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 10px 10px;
    border: 1px solid #EDEDED;
    text-align: center;
}

div#calendar_wrap{
    caption {
        margin: 10px 10px 0;
        padding-bottom: 0;
    }
    table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, 
    table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
        padding:0;
    }
}

.table-striped>tbody>tr:nth-child(odd),
table>tbody>tr:nth-child(odd) {
    border: 1px solid #e7e7e7;
}

dt {
    font-weight: bold;
    margin: 6px;
}


/* Gallery item */

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 50%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    max-width: 100%;
}

.gallery-item a img {
    display: block;
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}

.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

.gallery-size-thumbnail{
    .gallery-caption{
        display: inline-block;
        max-width: 200px;
        margin-top:5px;
    }

    .gallery-item>div>a{
        display: inline-block;
    }
}

.wp-caption,
.gallery-caption {
    color: #666;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}



@media screen and (min-width: 30em) {

	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		max-width: 25%;
    }
        
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}


/* Theme check */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }
  
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  
  .gallery-caption,
  .bypostauthor {
    display: block;
  }

code {
    overflow: auto;
    max-width: 100%;
    padding: 0 1em;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}
a code{
    color: $primary-color;
}

p {
   margin: 0 0 25px;
}
p img.alignleft{
   clear: both;
   margin-bottom: 30px;
}

select{
   max-width: 100%;
}

.post-password-form{
   input[type="password"] {
       padding: 5px 15px;
       margin-left: 10px;
   }
   input[type='submit']{
       background-color: $primary-color;
        border: none;
       padding: 7px 55px;
       color: #fff;
       cursor: pointer;
   }

}

// blockquote
blockquote.wp-block-quote{
    background: #f7f7f7;
    padding: 40px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 25px;
    p{
        position: relative;
        &:before{
            content: "\f10d";
            font-family: 'Fontawesome';
            display: block;
            font-size: 28px;
            color: #dedede;
        }
    }
    cite{
        font-size: 14px;
    }
}


/*============================
   post
=============================== */ 


.post{
   margin: 0 0 40px;
   .post-media{
      width: calc(100% - 0px);
      position: relative;
      overflow: hidden;
      .video-link-btn{
         position: absolute;
         right: 0;
         bottom: 0;
         a{
            background: $primary-color;
            padding: 15px 20px;
            display: inline-block;
            color: #fff;
            font-size: 25px;
         }
      }
   }
   .post-body,
   .post-quote-content{
        background: #fff;
        padding: 40px;
        border: 1px solid #eeeeee;
   }
   .entry-header{
      .entry-title{
         margin-bottom: 20px;
         word-wrap: break-word;
         font-size: 36px;
         a{
             color: #222222;
             &:hover{
                 color: $primary-color;
             }
         }
      }
 
   }
   .post-meta{
    margin-bottom: 25px;
    span{
       display: inline-block;
       margin-right: 20px;
       color: #666666;
       font-size: 14px;
       i{
          margin-right: 6px;
       }
     
    }
 }
   .post-footer{
       clear: both;
      .btn-link{
         color: $primary-color;
         display: inline-block;
         text-decoration: none;
         font-size: 14px;
         text-transform: uppercase;
         font-weight: 700;
         i{
            margin-left: 5px;
            @include transition();
            vertical-align: middle;
         }
         &:hover{
             i{
                 margin-left: 10px;
             }
         }
      }
   }
   &.sticky{
        .meta-featured-post{
            display: block;
            position: absolute;
            right: -35px;
            top: 18px;
            background:$primary-color;
            width: auto;
            height: auto;
            padding: 12px 45px;
            color: #fff;
            display: inline-block;
            transform: rotate(45deg);
            font-size: 12px;
            font-weight: 700;
            -webkit-transform: rotate(45deg);
            z-index:1;
        }
        .post-body{
            overflow: hidden;
            position: relative;
        }
   }
   
} 

  
.search article.page{
   background: #f9f8fd;
   padding: 40px;
   overflow: hidden;
   position: relative;
   margin-bottom: 40px;
}

.xs-page-header{
   margin-bottom: 30px;
}
/*=========================== ===========
         sidebar
========================================*/
.sidebar{
    .widget {
        margin-bottom: 40px;
        border: 1px solid #eeeeee;
        padding: 40px;
        //Widget search
        &.widget_search{
            padding:0;
            border:0;
            .form-control{
               font-style: italic;
               font-weight: 600;
               border-radius: 0;
               &:focus{
                  outline: none;
                  box-shadow: none;
                  border-color: $primary-color;
               }
            }
            .input-group-btn{
                background:$primary-color;
                color:$white-color;
                padding:0 20px;
                height: 50px;
                cursor: pointer;
                border:none;
                i{
                  line-height: 52px;
                }
            }
        }//widget search end
        &.widget-tags {
            ul {
               li {
                  display: inline-block;
                  margin-bottom: 8px;
                  margin-right: 4px;
                  a {
                     display: block;
                     padding: 5px 20px;
                     border: 1px solid #eee;
                     color: #666;
                     transition: all 0.3s;
                     &:hover {
                        background: $primary-color;
                        color: #fff;
                        transition: all ease 500ms;
                     }
                  }
                  &:last-child {
                     margin-bottom: 0;
                  }
               }
            }
         } //Widget Tags
    
    }//widget end
    .widget-title{
        font-size: 20px;
        position: relative;
        margin: 0 0 30px;
        padding:0 0 15px;
        &:before{
            content: "";
            position: absolute;
            display: inline-block;
            bottom: 0px;
            width: 50px;
            height: 2px;
            left: 0;
            z-index: 1;
            background: $primary-color;
        }
    }


    ul{
        border: 0;
        padding: 0;
        list-style: none;
        li{
            border-bottom: 1px dashed #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            a{
                color:$gray-light;
                &:hover{
                    color:$primary-color;
                }
                &.url,
                &.rsswidget{
                    color:$title-color;
                }
                &.rsswidget{
                    font-weight: 600;
                }
            }
            cite{
                font-style: normal;
            }
        }//li end
    }//sidebar ul end
    //Sidebar submenu
    ul.sub-menu, ul.children{
        padding: 10px 0px 0 20px;
    }
    ul.children{
        padding-bottom: 0;
    }
}//sidebar end

//  tag list
.tag-lists a, 
.tagcloud a {
   border: 1px solid #f1f1f1;
   color: #5a5a5a;
   display: inline-block;
   font-size: 14px !important;
   padding: 4px 13px;
   margin-left: 3px;
   margin-bottom: 10px;
   border-radius: 36px;
   &:hover{
       color: $primary-color;
   }
}
// textwidget
.textwidget img {
    margin: 10px 0;
}

// page-links
.page-links{
    .page-link{
        display: inline-block;
    }
}



/*=======================================
 Post  details
 ========================================*/
 .post-details{
    .entry-thumbnail{
        margin-bottom: 40px;   
    }
    .entry-header{
        .entry-title{
            margin-bottom: 22px;
            font-size: 36px;
        }
        .post-meta{
            margin-bottom: 25px;
            span{
                display: inline-block;
                margin-right: 20px;
                i{
                    margin-right: 10px;
                }
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
 }

/*=======================================
 Post  Comments section
 ========================================*/
.blog-post-comment{
   .comment-title{
       font-size: 24px;
   }
   .comment-info [class*=col-md-] {
       margin-bottom: 15px;
       position: inherit;
   }
   .comment-content > h3{
    margin-bottom: .5rem;
   }

   .comment-respond{
      margin-bottom: 40px;
     margin-top: 40px; 
       .comment-reply-title{
           font-size: 24px;
       }
       .comment-form{
           .form-control{
               border-radius: 0;
               height: 45px;
               margin-bottom: 15px;
               &.msg-box{
                   height: 245px;;
               }
               &:focus{
                box-shadow: none;
                border-color: $primary-color;
               }
           }
           .comment-form-cookies-consent{
               display: none;
           }
           .comment-notes{
               font-style: italic;
           }
           .btn.btn-primary {
               margin-top: 40px;
           }
       }//comments form
   }//Comment respond
}

.loginformuser{
   .form-control{
       height: 100%;
       resize: none;
       &:focus{
          box-shadow: none;
          border-color: $primary-color;
       }
   }
}

/* Common */
.pingback p, .pingback .says {
   display: none;
}
.comments-list .pingback .comment-body,
.comments-list .trackback .comment-body{
   margin-left: 0;
}

.blog-post-comment h3.comment-num{
    font-size: 24px;
}

.comments-list{
   list-style: none;
   margin: 0;
   padding: 20px 0;
   .comment {
       list-style: none;
       .last {
           border-bottom: 0;
           padding-bottom: 0;
           margin-bottom: 0;
       }
   }
   .comment-author {
       margin-bottom: 0;
       margin-top: 0;
       font-weight: 500;
       font-size: 16px;
       color: #1c1c24;
       font-style: normal;
       a{
           color: #1c1c24;
           &:hover{
               color:$primary-color;
           }
       }
       cite{
           font-style: normal;
       }
   }
   .comment-date {
       font-size: 14px;
       display: block;
       margin-top: -5px;
   }
   .comment-content {
       margin: 15px 0;
   }
   .comment-body {
       border-bottom: 1px solid #eeeeee;
       padding-bottom: 20px;
       margin-bottom: 30px;
       margin-left: 110px;
   }
   img.comment-avatar {
       width: 80px;
       height: 80px;
       border-radius: 100%;
       margin-right: 30px;
   }

   .comment-reply-link {
       color: #252a37;
       font-weight: 400;
       font-size: 14px;
       i{
           margin-right: 5px;
       }
       &:hover{
           color:$primary-color;
       }
   }//reply lin end
}//Comments link

.comments-counter {
   font-size: 18px;
   a{
       color:#666;
   }
}

.comments-reply {
   list-style: none;
   margin: 0 0 0 70px;
}



#cancel-comment-reply-link{
    float: right;
    color:#000;
    &:hover{
        color:$primary-color;
    }
}


// /*-- Page Not Found --*/

.not-found{
    h1{
        margin-bottom: 20px;
    }
   .input-group-btn{
       background:$primary-color;
       color:$white-color;
       padding:0 20px;
       border: none;
       cursor: pointer;
       i{
           line-height: 48px;
       }
   }
   .form-control:focus{
       box-shadow: none;
       border-color: $primary-color;
   }
   p {
    line-height: 1.1;
    margin-bottom: 25px;
    small {
       display: block;
     }
  }
}  
article.page{
    .post-meta{
        margin-bottom: 15px;
    }
}


/*===========================
         author box
=============================*/
.author-box {
   padding: 40px 40px 20px;
   margin-bottom:40px;
   .author-img {
      img {
         width: 70px;
         height: 70px;
         border-radius: 50%;
      }
   }
   .author-info {
      margin-left: 90px;
      >h3 {
         margin-bottom: 4px;
      }
   }
   .author-url {
      margin-bottom: 12px;
      a {
         color: #666666;
         font-size: 14px;
      }
   }
} //Author Box

/*=============================
   pagination nav
 =============================*/

.post-navigation{
    padding: 25px;
    border: 1px solid #eeeeee;
    margin-bottom: 40px;
    margin-top: 35px;
    .post-previous, .post-next{
        padding: 0 40px;
        width: 50%;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        display: table-cell;
        position: relative;
        vertical-align: middle;
    }//Previous/Next end

    span, h3{
        &:hover{
            color: $primary-color;
        }
    }
    h3{
        font-size: 20px;
        line-height: 30px;
        margin: 5px 0;
        ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    span{
        color: #666;
    }
    i{
        margin: 0 5px;
        color:  #666;
    }
    .post-previous {
        text-align: left;
        float: left;
        border-left: 0 none;
        border-right: 0 none;
        padding: 0 40px 0 0;
    }//Previous end

    .post-next {
        text-align: right;
        float: right;
        border-right: 0 none;
        padding: 0 0 0 40px;
    }//Next end
}//Post navigation end


/*==============================
 pagination
 ============================*/

.pagination {
    margin: 0;
    li{
        a, span{
            margin-right: 8px;
            width: 40px;
            height: 40px;
            line-height: normal;
            border: 1px solid #dadada;
            text-align: center;
            display: inline-block;
            color:#666;
            border-radius: 3px;
            i{
                line-height: 40px;
            }
        }
        &.active, &:hover{
            a{
                color: #fff;
                background: $primary-color;
                border: 1px solid transparent;
                &:hover{
                    background: $primary-color;
                }
            }//a end
        }//active hover end
        &.pagination-dots{
            margin: 0 15px 0 10px;
        }
    }//li end
}//Pagination end


.entry-content{
    .page-links{
        color: #10100E;
        margin-left:5px;
        overflow: hidden;
        width: 100%;
        margin-top: 50px;
        span{
            display: inline-block;
            &.page-link{
                color: #10100E;
                margin-right: 5px;
            }
        }
        .page-link-text{
            margin-right: 10px;
        }
    }//Page links end
}


/*=======================
   blog details
 ========================*/  
.blog-single{
   .post{
       .post-media{
           margin-bottom: 30px;
       }
    .post-body{
        background: #fff;
        border: 0;
        padding: 0;
     }
   }
}  

// select

.sidebar .widget select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #596172;
    border-color: #ebebeb;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    padding: 0 30px;
    border-radius: 0 !important;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-color: #fff;
  }
  /* Review logo */
.header-standard .navbar-brand {
    max-width: 170px;
}