/*==================================================================
##General Admin Styles
##Dashboard Styles
    #Welcome
    #Activate License
    #Helper
    #Theme Status
##Tabs Metaboxes
##WGL Modules
##WGL Mega Menu Admin Styles
==================================================================*/
/* ==================== ##General Admin styles ==================== */
.wgl-title{
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
}
.wgl-row{
    margin: 0 -15px;
}
.wgl-row:after{
    display: block;
    content: '';
    clear: both;
    height: 0;
}
.wgl-col{
    float: left;
    padding: 0;
}
.wgl-col.wgl-col-4{
    width: 33.3333%;
}
.wgl-col .wgl-col_inner{
    padding-left: 15px;
    padding-right: 15px;
}
.toplevel_page_wgl-dashboard-panel .wp-menu-image img{
    padding-top: 6px !important;
}
/* ==================== ##\General styles ==================== */
/* ==================== ##Welcome Dashboard ==================== */
.wgl-welcome_page .wgl-welcome_title{
    margin-top: 50px;
    margin-bottom: 5px;
}
.wgl-welcome_page .wgl-version_theme{
    font-size: 11px;
    font-weight: 700;
    margin-left: 2px;
}

.wgl-welcome_page .wgl-welcome_subtitle{
    margin-top: 5px;
    font-size: 22px;
}
.wgl-welcome_page .wgl-welcome-step_wrap{
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 20px;
    background: #fff;
    box-shadow: 4px 6px 21px 0px rgba(60, 62, 63, 0.1); 
    display: flex;
    padding: 48px 0;
    align-items: center;
}
.wgl-welcome_page .wgl-welcome-step_wrap:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.wgl-welcome_page .wgl-welcome-step_wrap .theme-screenshot{
    max-width: 540px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .theme-screenshot img{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_sidebar,
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content{
    padding-left: 30px;
    padding-right: 30px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content{
    max-width: 490px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content .step-subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 20px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content ul{
    margin: 0;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content ul li{
    font-size: 16px;
    margin-bottom: 40px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content ul li:last-child{
    margin-bottom: 0;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content ul li .step{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.wgl-welcome_page .wgl-welcome-step_wrap .wgl-welcome_content ul li .attention-title{
    display: block;
    margin-top: 12px;
}
/* ==================== ##End Welcome Dashboard ==================== */

/* ==================== ##Activate License Dashboard ==================== */

.wgl-activation-theme_form{
    background: #fff;
    padding: 48px 70px;
    max-width: 770px;
    margin: 50px auto 0 ;
    box-shadow: 4px 6px 21px 0px rgba(60, 62, 63, 0.1); 
    text-align: center;
}
.wgl-activation-theme_form .wgl-title{
    margin-bottom: 24px;
}

.wgl-activation-theme_form .wgl-content_subtitle{
    font-size: 16px;
    color: #828282;
}

.wgl-activation-theme_form .container-form .form-row{
    display: flex;
    margin:0 -10px;
}

.wgl-activation-theme_form .container-form .form-group{
    margin-bottom: 30px;
    padding: 0 10px;    
    display: block;
    width: 100%; 
}
.wgl-activation-theme_form .container-form .form-group label{
    display: none;
}
.wgl-activation-theme_form .container-form .form-group input{
    display: block;
    width: 100%;
    border: 1px solid #e7e7e7;
    height: 48px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.3333333;
    background: #f9f9f9;
}
.wgl-activation-theme_form .container-form .form-group input:focus{
    box-shadow: none;
}

.wgl-activation-theme_form .help-description{
    text-align: left;
}
.wgl-activation-theme_form .help-description a{
    font-size: 12px;
    line-height: 30px;
    color: #0085ba;
    text-decoration: none;
}
.wgl-activation-theme_form .form.wgl-purchase{
    margin-top: 44px;
}
.wgl-activation-theme_form .container-form .form-group input::placeholder{
    color: #555555;
}
.wgl-activation-theme_form .container-form button{
    cursor: pointer;
    position: relative;
    height: 40px;
    line-height: 38px;
    padding: 0 28px 1px;
    text-transform: capitalize;
    font-size: 16px;
}
.wgl-activation-theme_form .container-form button.deactivate_theme-license{
    background: #da1911;
    border-color: #b91b15 #b91b15 #b91b15;
    box-shadow: 0 1px 0 #b91b15;
    text-shadow: 0 -1px 1px #b91b15, 1px 0 1px #b91b15, 0 1px 1px #b91b15, -1px 0 1px #b91b15;
}

.wgl-activation-theme_form .container-form button.loading .text-btn{
    opacity: 0;
    visibility: hidden;
}
.wgl-activation-theme_form .container-form button.loading .loading-icon:before{
    opacity: 1;
}
.wgl-activation-theme_form .container-form button .loading-icon:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    margin: -10px 0 0 -8px;
    position: absolute;
    content: "\f021";
    top: 50%;
    left: 50%;
    z-index: 99;
    color: #fff;
    font-size: 19px;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.wgl-activation-theme_form .text-desc-info{
    font-size: 12px;
    margin-top: 74px;
}
.wgl-activation-theme_form .text-desc-info .text-desc-info_license{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1px;
}
.wgl-activation-theme_form .text-desc-info .text-desc-info_author{
    color: #828282;
    margin-top: 0;
}
.wgl-activation-theme_form .text-desc-info .text-desc-info_author a{
    color: #0085ba;
    text-decoration: none;
}
.wgl-activation-theme_congratulations{
    background: #f1f8f1;
    color: #219f00;
    padding: 42px 15px;
}
.wgl-activation-theme_congratulations *{
    color: inherit;
}
.wgl-activation-theme_congratulations span{
    font-size: 30px;
    font-weight: 800;
}
.wgl-activation-theme_congratulations .wgl-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.notice.notice-validation, .notice-validation{
    margin: 20px 0 0;
    font-weight: 600;
    border-left: 0;
    box-shadow: none;
    padding: 16px 0;
    text-transform: uppercase;

}
.notice-validation.notice-error{
    color: #981111;
    background: rgba(220, 50, 50, .2);
}
.notice-validation.notice-success{
    background: #46b450;
    color: #fff; 
}
#wp-toolbar ul li.wgl_activate_theme-admin_bar{
    background: #dc0000;
}
#wp-toolbar ul li.wgl_activate_theme-admin_bar a{
    position: relative;
    color: #fff;
}
#wp-toolbar ul li.wgl_activate_theme-admin_bar a:before{
    font-family: dashicons;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    content: "\f528";
    color: #fff;
}
#wp-toolbar ul li.wgl_activate_theme-admin_bar:hover a{
    background: #cc0505 !important;
    color: #fff !important;
}
#wp-toolbar ul li.wgl_activate_theme-admin_bar:hover a:before{
    color: #fff !important;
}
/* ==================== ##End Activate License Dashboard ==================== */

/* ==================== ##Helper Dashboard ==================== */
.wgl-theme-helper{
    margin: 50px auto 0;
    text-align: center;
}
.wgl-theme-helper .container-form{
    max-width: 1280px;
    margin: 0 auto;    
}
.wgl-theme-helper .wgl-title{
    margin-bottom: 20px;
}
.wgl-theme-helper .wgl-content .wgl-content_subtitle{
    font-size: 16px;
    margin-top: 0;
    line-height: 30px;
    margin-bottom: 46px;
}
.wgl-theme-helper .wgl-info-box{
    background: #fff;
    position: relative;
    text-align: left;
    padding: 45px 40px 45px 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 6px 21px 0px rgba(60, 62, 63, 0.1); 
    margin-bottom: 30px;
}
.wgl-theme-helper .wgl-info-box:nth-child(3n + 1){
    clear: both;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_icon-wrapper{
    margin-right: 20px;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_icon-heading{
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_content p{
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_btn{
    margin-top: 26px;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_btn a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: #0084bc;
    padding: 12px 18px;
    text-transform: uppercase;
    color: #fff;
    line-height: 18px;
    display: inline-block;
    transition: all .45s ease;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_btn a:hover{
    background: #23282d;
}
.wgl-theme-helper .wgl-info-box .wgl-info-box_btn a:focus{
    box-shadow: none;
}
.theme-helper_desc{
    margin-top: 30px;
}
/* ==================== ##End Helper Dashboard ==================== */

/* ==================== ##Theme Status Dashboard ==================== */
.wgl-status-table_panel tr td:first-child,
.wgl-status-table_panel tr th:first-child{
    width: 25%;
}
.message_info.message_info-error .dashicons-warning{
    color: red;
}
.message_info.message_info-info .dashicons-warning{
    color: #bfbf29;
}
.message_info.message_info-success{
    color: green;
}

/* ==================== ##End Theme Status Dashboard ==================== */
 .wgl-wrapper_notify{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.notice_error-validation:empty{
    display: none;
}
/* Tabs metaboxes */
#advanced-sortables:after{
    display: block;
    height: 0;
    clear: both;
    content: '';
}
#advanced-sortables{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
}
#advanced-sortables > div{
    position: relative;
    display: table-cell;
}
#advanced-sortables .postbox {
    display: none;
    border: 0;
    padding: 20px;
    background: inherit;
    box-shadow: none;
}
#advanced-sortables .postbox .inside{
    border-bottom: 0 !important;
}
#advanced-sortables .tabs-container .postbox:first-child{
    display: block;
}
#advanced-sortables .rwmb-switch:checked + .rwmb-switch-status .rwmb-switch-slider {
    background: #4ed164;
    box-shadow: 0 0 1px #4ed164;

}
#advanced-sortables .rwmb-field .rwmb-media-status{
    display: none;
}
#advanced-sortables .rwmb-switch-label{
    height: 30px;
    min-width: 50px;
}
#advanced-sortables .rwmb-switch-slider:before{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
#advanced-sortables .rwmb-switch:checked + .rwmb-switch-status .rwmb-switch-slider:before{
    left: calc(100% - 28px);
}

#advanced-sortables .rwmb-field > *{
    box-sizing: border-box;
}
#advanced-sortables .rwmb-field{
    display: table;
    width: 100%;
    border-bottom: 1px dashed #ddd;
    margin: 0;
}
#advanced-sortables .rwmb-field:last-of-type{
    border-bottom: 0;
}
#advanced-sortables .rwmb-field .rwmb-image-select{
    width: 45px;
    height: 45px;
}
#advanced-sortables .rwmb-field.rwmb-wgl_image_select-wrapper .rwmb-image-select{
    width: auto;
    height: auto;
    padding: 0;
    border: 0;
    line-height: 1;
}
#advanced-sortables .rwmb-field.rwmb-wgl_image_select-wrapper .rwmb-image-select img{
    display: block;
    border: 3px solid #d8d8d8;
}
#advanced-sortables .rwmb-field.rwmb-wgl_image_select-wrapper .rwmb-image-select.rwmb-active img{
    border-color: #0074a2;
}
#advanced-sortables .rwmb-field.rwmb-wgl_image_select-wrapper .rwmb-image-select .rwmb-image_select-desc{
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    padding-left: 6px;
}

#advanced-sortables .rwmb-field .rwmb-label{
    width: 20%;
    padding: 20px 20px 20px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;    
}
#advanced-sortables .rwmb-field .rwmb-label label{
    margin: 0;
    line-height: 1.4em;
    padding: 0;
    color: #6F858D;
    font-size: 14px;
    font-weight: 600;
}
#advanced-sortables .rwmb-field .rwmb-input{
    padding: 20px 0;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

#advanced-sortables .rwmb-field .rwmb-input input[type='checkbox'] {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
    transition: 0s;
}
#advanced-sortables .rwmb-field .rwmb-input input[type='checkbox']:before{
    display: none;
}
#advanced-sortables .rwmb-field .rwmb-input input[type='checkbox']:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
#advanced-sortables .rwmb-field .rwmb-input input[type='checkbox']:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
    
}
#advanced-sortables .rwmb-field .rwmb-input input[type='checkbox']:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

#advanced-sortables .rwmb-field .rwmb-input input[type='text']:not(.rwmb-color), 
#advanced-sortables .rwmb-field .rwmb-input input[type='email']:not(.rwmb-color), 
#advanced-sortables .rwmb-field .rwmb-input input[type='password']:not(.rwmb-color), 
#advanced-sortables .rwmb-field .rwmb-input input[type='number']:not(.rwmb-color), 
#advanced-sortables .rwmb-field .rwmb-input select:not(.rwmb-color){
    padding: 2px 10px;
    height: 28px;
    line-height: 1.4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
    border-color: #ddd;
    font-size: 13px;
    outline: none;
    display: block;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    min-width: 200px;
}
#advanced-sortables .rwmb-field .rwmb-input input[type='number']:not(.rwmb-color){
    min-width: 80px;
    width: 80px;
}
#advanced-sortables .rwmb-field .rwmb-input .select2-selection{
    border-radius: 0;
    border: 1px solid #cccccc;
}
#advanced-sortables .rwmb-field .rwmb-input .select2-selection--multiple{
    min-height: 34px;
}
#advanced-sortables .rwmb-field .rwmb-input fieldset > label > input{
    margin-bottom: 15px;
}
#advanced-sortables .metabox-screenshot img{
    max-height: 120px;
    max-width: 120px;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 15px;
    border: 1px solid #e3e3e3;
    background: #f7f7f7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#advanced-sortables .rwmb-field .rwmb-input fieldset > p{
    margin: 0;
}
#advanced-sortables .rwmb-field .rwmb-input fieldset > p:not(:last-child){
    margin-bottom: 15px;
}
#advanced-sortables .rwmb-field .rwmb-input .rwmb-button-input-list{
    margin: 0;
}
#advanced-sortables .rwmb-field.rwmb-wgl_heading-wrapper ~ .rwmb-field:not(.rwmb-wgl_heading-wrapper) {
    margin-left: 50px;
    width: calc(100% - 50px);
}
#advanced-sortables .rwmb-field.rwmb-wgl_heading-wrapper ~ .rwmb-field:not(.rwmb-wgl_heading-wrapper) .rwmb-label {
    width: 33%;
}
#advanced-sortables .rwmb-field.rwmb-wgl_heading-wrapper ~ .rwmb-field:not(.rwmb-wgl_heading-wrapper) .rwmb-input {
    width: 67%;
}
#advanced-sortables .rwmb-field.rwmb-wgl_heading-wrapper h3{
    font-size: 22px;
    line-height: 1;
    margin: 0;
}
#advanced-sortables .rwmb-wgl_background-wrapper .rwmb-background-select{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}
#advanced-sortables .rwmb-wgl_background-wrapper .rwmb-background-select .rwmb-select{
    width: 25%;
    margin-right: 5px;
    min-width: auto !important;
}
#advanced-sortables .rwmb-wgl_background-wrapper .rwmb-background-select .rwmb-select:last-child{
    margin-right: 0 !important;
}
#advanced-sortables .rwmb-wgl_background-wrapper .rwmb-background-image{
    margin-bottom: 15px;
}
#advanced-sortables .rwmb-wgl_offset-wrapper .rwmb-offset_field{
    float: left;
    margin-right: 10px;
    text-align: center;
}
#advanced-sortables .rwmb-wgl_offset-wrapper .rwmb-offset_field > .fa{
    width: 28px;
    height: 28px;
    vertical-align: top;
    line-height: 28px;
    background: #ccc;
}
#advanced-sortables .rwmb-wgl_offset-wrapper .rwmb-offset_field > span{
    width: 28px;
    height: 28px;
    vertical-align: top;
    line-height: 28px;
    background: #ccc;
    display: inline-block;
    font-weight: 500;
}
#advanced-sortables .rwmb-wgl_offset-wrapper .rwmb-wgl_offset-input{
    width: 60px;
    min-width: auto !important;
    height: 28px !important;
    text-align: center;
    display: inline-block !important;
    margin: 0;
    padding: 6px !important;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-input{
    padding-top: 10px;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-font_field{
    float: left;
    margin-right: 10px;
    text-align: center;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-font_color{
    clear: both;
    padding-top: 10px;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-wgl_font-input,
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-select{
    width: 90px;
    min-width: auto !important;
    height: 28px !important;
    text-align: center;
    display: inline-block !important;
    margin: 0;
    padding: 6px !important;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-select{
    padding: 4px !important;
    background: transparent !important;
    margin-right: 4px;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-select_wrap{
    position: relative;
    z-index: 1;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-select_wrap:after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 28px;
    height: 28px;
    right: 0;
    top: 0;
    background: #ccc;
    display: block !important;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-font_field > span{
    width: 28px;
    height: 28px;
    vertical-align: top;
    line-height: 28px;
    background: #ccc;
    display: inline-block;
    font-weight: 500;
}
#advanced-sortables .rwmb-wgl_font-wrapper .rwmb-font_field > label{
    display: block;
    text-align: left;
}
#advanced-sortables .rwmb-sort-clone{
    padding-left: 20px;
}
#advanced-sortables .rwmb-clone-icon{
    background-position: center center;
    height: 100%;
    padding: 0 3px;
}
#advanced-sortables .rwmb-clone .select-label{
    margin-left: 20px;
    padding-bottom: 15px;
    display: inline-block;
}
#advanced-sortables .rwmb-clone .clone-select{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px;
}


.tabs-container{
    margin-left: -2px;
    float: right;
    width: calc(80% + 2px);   
    background: #fff;
    border:1px solid #dedede;
    border-bottom: 0;
}
.tabs__caption{
    float: left;
    width: 20%;
    background: #2d343c;
    border-top: 1px solid #dedede;
}
.tabs__caption h2{
    padding: 16px 22px !important; 
    margin: 0 !important;
    color: #fff;
    position: relative;
    border-radius: 0;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    background: #2d343c;
    margin-bottom: 1px;
    line-height: 1.4em !important;
    padding: 0;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-bottom: 0 !important;
}
.tabs__caption h2.active{
    background: #fff  !important;
    color: #2d343c  !important;
    border-right: 1px solid #fff;
}
.tabs__caption h2:last-child{
    border-bottom: 0;
}

.tabs-container h2,
.tabs-container .handlediv {
    display: none !important;
}
.tabs-container .rwmb-static-text-wrapper .rwmb-input {
    display: none !important;
}
.tabs-container .rwmb-static-text-wrapper .rwmb-label{
    width: 100% !important;
}

/* \Tabs metaboxes */

/* Mobile Builder, Sticky Builder Theme option */
#sticky_header_layout,
#mobile_header_layout{
    margin: 0 -20px 0 -10px;
}
#sticky_header_layout > ul#sticky_header_layout_items,
#mobile_header_layout > ul#mobile_header_layout_items{
    width: 100%;
    background: #fff;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
    width: calc(100% - 50px);
}

#sticky_header_layout > ul li,
#mobile_header_layout > ul li{
    border: 1px solid #4a98cd;
    margin-bottom: 10px !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    color: #fff;
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    box-shadow: none;
    padding: 0 10px !important;
    height: 40px;
    line-height: 40px !important;
    background: #5cabe1;
    overflow: hidden;
    text-align: center;
    z-index: 656;
    vertical-align: middle;
    min-width: 60px;
    white-space: nowrap;

}
#sticky_header_layout > ul:not(#sticky_header_layout_items),
#mobile_header_layout > ul:not(#mobile_header_layout_items){
    position: relative;
    padding: 20px 20px !important;
}

#mobile_header_layout > ul,
#sticky_header_layout > ul{
    border: 0;
    background: #f5f5f5;
    min-height: 130px;    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 10px;
    width: calc(33.333% - 30px);
    box-sizing: border-box;
}
#sticky_header_layout > ul h3,
#mobile_header_layout > ul h3{    
    text-indent: -9999px;
    display: none;
}
#sticky_header_layout > ul:not(#sticky_header_layout_items):before,
#mobile_header_layout > ul:not(#mobile_header_layout_items):before{
    content: '';
    position: absolute;
    background: #fff;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    left: 20px;
    top: 15px;
}

#sticky_header_layout > ul li.placeholder:before,
#mobile_header_layout > ul li.placeholder:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067";   
    color:#888;
}

#mobile_header_layout > ul .sortee,
#sticky_header_layout > ul .sortee,
#mobile_header_layout > ul .placeholder,
#sticky_header_layout > ul .placeholder{
    margin:0 5px;
}

#mobile_header_layout > ul .sortee.ui-sortable-helper,
#sticky_header_layout > ul .sortee.ui-sortable-helper{
    background: #5cabe1;
}
/* \Mobile Builder, Sticky Builder Theme option */

/* radio image select */
.wgl-radio-image label{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.wgl-radio-image label>* {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.wgl-radio-image label.selected:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 174, 240, 0.5);
}
/* \radio image select */
/* Redux style */

.redux-container .redux-group-tab h3,
.redux-main .form-table tr {
    border-bottom: 1px dashed #ddd;
}
.redux-main label.color-transparency-check {
    margin-top: 10px !important;
}
.redux-container-image_select ul.redux-image-select li{
    padding-right: 6px;
}
.redux-color-rgba.sp-replacer{
    padding: 0;
    box-shadow: 0 1px 0 #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.redux-color-rgba .sp-preview{
    width: 32px;
    height: 24px;
    border: 0;
    margin-right: 0;
}
.redux-color-rgba .sp-dd{
    padding: 3px 6px;
    font-size: 11px;
}
.redux-color-rgba.sp-replacer:focus, 
.redux-color-rgba.sp-replacer:hover {
    color: #23282d;
    border-color: #a0a5aa;
    border-left: 1px solid #999;
}


/* \Redux style */
.wpb_el_type_foodmood_dropdown .edit_form_line img {
    width: 64px;
    margin-bottom: 10px;
}

.display_none {
    display: none !important;
}

.vc_row .clear{ height: auto; }

.vc_element-icon.wgl_icon {
    background-image: url(../../../img/wgl_composer_addon/wgl-logo.jpg) !important;
}
.vc_add-element-container .wpb-content-layouts .vc_el-container a {
    padding-left: 70px;
}
*[class*="wgl_icon"].vc_element-icon.vc_general {
    width: 60px;
    height: 46px;
    background-size: 60px 46px;
    top: 10px;
    left: 6px;
    margin-top: -6px;
}
.dropable_el *[class*="wgl_icon"].vc_element-icon.vc_general {
    border: 1px solid #c1c1c1;
    margin: 0;
    box-sizing: content-box;
}
.wpb_column_container .vc_shortcodes_container>.wpb_element_wrapper>.vc_container_for_children{
    margin-left: 80px;
}
.vc_element-icon.wgl_icon_double-text {
    background-image: url(../../../img/wgl_composer_addon/icons/double-text.png) !important;
}
.vc_element-icon.wgl_icon_divider {
    background-image: url(../../../img/wgl_composer_addon/icons/divider.png) !important;
}
.vc_element-icon.wgl_icon_progress_bar {
    background-image: url(../../../img/wgl_composer_addon/icons/progress_bar.png) !important;
}
.vc_element-icon.wgl_icon_social-icons{
    background-image: url(../../../img/wgl_composer_addon/icons/social-icons.png) !important;
}
.vc_element-icon.wgl_icon_horizont-timeline{
    background-image: url(../../../img/wgl_composer_addon/icons/horizont-timeline.png) !important;
}
.vc_element-icon.wgl_icon_vertical-timeline{
    background-image: url(../../../img/wgl_composer_addon/icons/vertical-timeline.png) !important;
}
.vc_element-icon.wgl_ico-mod {
    background-image: url(../../../img/wgl_composer_addon/icons/ico-mod.png) !important;
}
.vc_element-icon.wgl_icon_earth {
    background-image: url(../../../img/wgl_composer_addon/icons/earth.png) !important;
}
.vc_element-icon.wgl_icon_button {
    background-image: url(../../../img/wgl_composer_addon/icons/button.png) !important;
}
.vc_element-icon.wgl_icon_carousel {
    background-image: url(../../../img/wgl_composer_addon/icons/carousel.png) !important;    
}
.vc_element-icon.wgl_icon_countdown {
    background-image: url(../../../img/wgl_composer_addon/icons/countdown.png) !important;    
}
.vc_element-icon.wgl_icon_counter {
    background-image: url(../../../img/wgl_composer_addon/icons/counters.png) !important;   
}
.vc_element-icon.wgl_icon_custom_text {
    background-image: url(../../../img/wgl_composer_addon/icons/custom_text.png) !important;    
}
.vc_element-icon.wgl_icon_flip_box {
    background-image: url(../../../img/wgl_composer_addon/icons/flip_box.png) !important;    
}
.vc_element-icon.wgl_icon_image_layers {
    background-image: url(../../../img/wgl_composer_addon/icons/image_layers.png) !important;    
}
.vc_element-icon.wgl_icon_info_box {
    background-image: url(../../../img/wgl_composer_addon/icons/info_box.png) !important;    
}
.vc_element-icon.wgl_icon_message_box {
    background-image: url(../../../img/wgl_composer_addon/icons/message_box.png) !important;    
}
.vc_element-icon.wgl_icon_portfolio {
    background-image: url(../../../img/wgl_composer_addon/icons/portfolio.png) !important;    
}
.vc_element-icon.wgl_icon_price_table {
    background-image: url(../../../img/wgl_composer_addon/icons/pricing_table.png) !important;    
}
.vc_element-icon.wgl_icon_spacing {
    background-image: url(../../../img/wgl_composer_addon/icons/spacing.png) !important;    
}
.vc_element-icon.wgl_icon_team {
    background-image: url(../../../img/wgl_composer_addon/icons/team.png) !important;   
}
.vc_element-icon.wgl_icon_testimonial {
    background-image: url(../../../img/wgl_composer_addon/icons/testimonials.png) !important;    
}
.vc_element-icon.wgl_icon_video_popup {
    background-image: url(../../../img/wgl_composer_addon/icons/video_popup.png) !important;    
}
.vc_element-icon.wgl_icon_clients {
    background-image: url(../../../img/wgl_composer_addon/icons/clients.png) !important;    
}
.vc_element-icon.wgl_icon_demo {
    background-image: url(../../../img/wgl_composer_addon/icons/demo.png) !important;    
}
.vc_element-icon.wgl_icon_portfolio_module {
    background-image: url(../../../img/wgl_composer_addon/icons/portfolio_module.png) !important;    
}
.vc_element-icon.wgl_icon_split_slider {
    background-image: url(../../../img/wgl_composer_addon/icons/split_slider.png) !important;    
}
/* Blog */
.vc_element-icon.wgl_icon_blog {
    background-image: url(../../../img/wgl_composer_addon/blog/06.png) !important;    
}
.vc_element-icon.wgl_icon_blog_medium_img {
    background-image: url(../../../img/wgl_composer_addon/blog/10.png) !important;    
}
.vc_element-icon.wgl_icon_blog_tiny_img {
    background-image: url(../../../img/wgl_composer_addon/blog/09.png) !important;    
}
.vc_element-icon.wgl_icon_blog_first_hero {
    background-image: url(../../../img/wgl_composer_addon/blog/02.png) !important;    
}
.vc_element-icon.wgl_icon_blog_1st_post_large {
    background-image: url(../../../img/wgl_composer_addon/blog/11.png) !important;    
}
.vc_element-icon.wgl_icon_blog_2st_hero {
    background-image: url(../../../img/wgl_composer_addon/blog/03.png) !important;    
}
.vc_element-icon.wgl_icon_blog_hero_type1 {
    background-image: url(../../../img/wgl_composer_addon/blog/01.png) !important;    
}
.vc_element-icon.wgl_icon_blog_hero_type2 {
    background-image: url(../../../img/wgl_composer_addon/blog/05.png) !important;    
}
.vc_element-icon.wgl_icon_blog_hero_type3 {
    background-image: url(../../../img/wgl_composer_addon/blog/07.png) !important;    
}
.vc_element-icon.wgl_icon_blog_hero_type4 {
    background-image: url(../../../img/wgl_composer_addon/blog/04.png) !important;    
}
.vc_element-icon.wgl_icon_blog_slider {
    background-image: url(../../../img/wgl_composer_addon/blog/08.png) !important;    
}
.vc_element-icon.wgl_icon_blog_posts_ticker {
    background-image: url(../../../img/wgl_composer_addon/blog/12.png) !important;    
}

/* Accordion */
.wgl_accordion_heading {
    padding: 0 36px 0 15px;
    line-height: 36px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    cursor: pointer;
    position: relative;
}
.wgl_accordion_title {
    font-weight: 500;
    font-size: 13px;
}
.wgl_accordion_button {
    font-family: FontAwesome, Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    width: 36px;
    top: 0;
    font-size: 14px;
    line-height: 36px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wgl_accordion_wrapper.open > .wgl_accordion_heading .wgl_accordion_button:after,
.ui-accordion-header.ui-state-active > .wgl_accordion_button:after {
    content: "\f068";
}
.wgl_accordion_button:after {
    content: "\f067";
}
.wgl_accordion_body {
    padding: 5px 15px;
}
.wgl_accordion_body:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.description-wide.col-6{
    float: left;
    width: calc(50% - 10px) !important;
    margin-right: 20px;
}
.description-wide.col-6 + .description-wide.col-6{
    width: calc(50% - 10px) !important;
    margin-right: 0;
}
.wgl_accordion_body .description-wide{
    width: 100%;
}
.menu-item .wgl_accordion_wrapper {
    margin: 15px 10px 0 0;
    border: 1px solid #e0e0e0;
    clear: both;
}    
/* \Accordion */

/* Portfolio */
.column-image{
    width: 10%;
}
.column-image img{
    display: block;
}